.small-container {
    max-width: 500px;
    margin: 0 auto;
}

.medium-container {
    max-width: 750px;
    margin: 0 auto;
}

input[type=checkbox] {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}